* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #FF9A4B;
  height: 50px;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #EEEEEE;
}

.step-box:last-child {
  margin-right: 0;
}

.img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #FFF;
}

.title {
  margin: 15px 0 5px;
}

footer {
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width:768px) {
  header {
    width: 100%;
  }
  
  main {
    display: inline-block;
    width: 100%;
  }
  
  .step-box {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 20px;
  }
}
